@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
  /* background: whitesmoke; */
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: #7303c0;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

/* Display */
.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e07cbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #bc689f;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b2b0b0;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: #828282;
  color: #fff;
  font-size: 30px;
}

.clear {
  background-color: rgb(227, 67, 144);
  color: #fff;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(52, 219, 158);
}

/* Media Queries */
/* Large Smartphone - Vertical */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
